@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");

:root {
  // - Fonts
  --font-primary: "Open Sans", sans-serif;

  // - Colors
  --color-primary: #2b2d35;
  --color-bg: #f0f0f0;
  --color-bg-2: #e9e9e9;

  // - Shadows
  --shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1);
}
